.popUpBackground {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.popUpContainer {
    position: fixed;
    left: 30vw;
    top: 15%;
    width: 500px;
    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -3px 5px 5px #000000;
    background-color: #fdfffc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #011627;
}
@media (max-width: 990px) {
    .popUpContainer {
        left: 8vw;
        width: 300px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.title {
    padding-left: 20px;
}
