.desktopNav {
    display: none;
}

@media (min-width: 990px) {
    .desktopNav {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}
