.img {
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
  padding-bottom: 30px;
  min-height: 100vh;
  width: 85vw;
  margin: 0 auto;
}

.background {
  background-image: url("../../assets/catdog-bg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
