.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: dotted rgb(129, 62, 62);
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
