.NavMenuText {
  margin: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  cursor: pointer;
}

.MainTitleText {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.MainSubitleText {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.paragraphText {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
}

.footerText {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
}
